h1{
    border-bottom: 2px solid blue;
}
h2{
    border: 1px solid #555555;
}
ul{
    border-top: 2px dotted red;
    border-bottom: 2px dotted red;

}
ul:nth-child(odd){
    border: 2px dashed greenyellow;

}


